body{
    background-image: url(./Dark-Cool-HD-Wallpaper-Free-download.jpg); 
    color:white; 
    opacity: 100%;
    background-size: cover;
}



.body{
text-align: left;
padding: 8%;

}

h1{
    font-size: 70px;
    margin-top: 0%;
    margin-bottom: 0%;
}
